:root {
  font-family: "Circular Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #1ed662;
  margin-bottom: 0;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1rem;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
  object-fit: cover;
}

.user p {
  margin: 0;
}

.playlists-container {
  background-color: #181818;
  color: #ffffff;
  border-radius: 4px;
  width: 40vw;
  margin-top: 2em;
  border: 1px solid #181818;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.playlists-header {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.playlists-list {
  max-height: 60vh;
  overflow-y: auto;
  list-style: none;
  background-color: #121212;
  color: #b3b3b3;
  padding: 0;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
}

.playlists-list li {
  background-color: #181818;
  border-bottom: 1px solid #282828;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
}

.playlists-list li:last-child {
  border-bottom: none;
}

.playlists-list li:hover {
  background-color: #282828;
}

.playlists-list li div {
  display: flex;
  align-items: center;
}

.playlists-list li img {
  -webkit-user-drag: none;
  height: 60px; 
  width: 60px;
  border-radius: 5px;
  margin-right: 20px;
  object-fit: cover;
}

.playlists-list li button {
  background-color: #1db954;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playlists-list li button:hover {
  background-color: #1ed760;
}

.playlists-list li button:active {
  background-color: #1c9548;
}

.playlists-arrows {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: large;
  font-weight: bold;
}

.playlists-arrows button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playlists-arrows button:hover {
  background-color: rgba(36, 36, 36, 0.7);
}

.playlists-arrows button:active {
  background-color: black;
}

@media (max-width: 1024px) {
  .playlists-container {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  .playlists-container {
    width: 80vw;
  }
}
