:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2D2F33;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

.playlists-container {
  background: linear-gradient(145deg, #3F4147, #343639); 
  color: #E8EAF6;
  border-radius: 15px;
  width: 50vw;
  margin-top: 2em;
  border: 1px solid #343639;
}

.playlists-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.playlists-list {
  height: 60vh;
  overflow-y: auto;
  list-style: none;
  background-color: #283593;
  color: #cccccc;
  padding: 0;
  border-top: 1px solid #343639;
  border-bottom: 1px solid #343639;
}

.playlists-list li {
  background-color: #3F4147; /* Cadet Gray for playlist items */
  border-bottom: 1px solid #646E78; /* Roman Silver for separators */
  padding: 10px 0; /* Add some vertical padding to give each item some space */
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.playlists-list li:last-child {
  border-bottom: none; /* Remove the border on the last list item */
}

.playlists-list li:hover {
  background-color: #484C52; 
}

.playlists-list li div {
  display: flex;
  align-items: center;
}

.playlists-list li img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.playlists-list li button {
  background-color: #4A90E2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.playlists-list li button:hover {
  background-color: #5AA0E7;
}

.playlists-list li button:active {
  background-color: #197de0;
}

.playlists-arrows {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: large;
  font-weight: bold;
}

@media (max-width: 768px) {
  .playlists-container {
    width: 80vw; /* Adjust width for smaller screens */
  }
}